* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    margin: 1em;
}

#content {
    flex: 1 0 auto;
    text-align: center;
}

section {
    width: 80%;
    max-width: 500px;
    margin: 1em auto;
}

#section-form {
    max-width: 400px;
}

#section-form form {
    display: flex;
}

#section-form input[type="text"] {
    padding: 0.25em 0.8em;
    margin: 0;
    width: 80%;
}

#section-form input[type="text"]:focus {
    outline: none;
}

#section-form button[type="submit"] {
    padding: 0.25em 0.8em;
    width: 20%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1em;
}

.btn {
    text-decoration: none;
}

i {
    color: grey;
    font-size: 0.8em;
}

.img-icon {
    height: 4em;
    margin: 0.2em;
    border-radius: 50%;
}

table {
    width: 100%;
}

tr {
    margin: 2em;
}

a.a-upper {
    margin-top: 5em;
}

#section-image {
    display: flex;
    justify-content: center;
}

#section-image img {
    height: 10em;
    margin: 0.2em;
    border-radius: 50%;
}

#change-form form{
    display:flex;
    flex-direction: column;
}

#change-form p {
    text-align: left;
}

#change-form input, textarea {
    width: auto;
    margin-bottom: 0.5em;
}

#change-form label {
    text-align: left;
}

#change-form button[type="submit"] {
    max-width: 100px;
    margin: 1em auto;
    padding: 0.25em 0.8em;
}